{% extends 'meuperfil/home.html' %}

{% block meusitens %}
    <div class="panel panel-primary" style="margin: 10px;" id="div-meusitens-meuperfil">
        <div class="panel-heading">
            <h3 class="panel-title"> Meus Itens </h3>
        </div>
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li role="presentation">
                    <a href="/meuperfil/caixaesquerda/itens/itensmeusitens"> Meus Itens </a>
                </li>
                <!--li role="presentation">
                    <a href="/meuperfil/caixaesquerda/cadastraritens/cadastraritens"> Cadastrar Itens </a>
                </li-->
                <!--li role="presentation">
                    <a href="/meuperfil/caixaesquerda/cadastrarcategorias/cadastrarcategorias"> Cadastrar Categorias </a>
                </li-->
                <li role="presentation">
                    <a href="/meuperfil/caixaesquerda/outros/outros"> Outros </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content" style="margin: 20px 0px;">
                {% block itensmeusitens %}
                {% endblock %}
                {% block cadastraritens %}
                {% endblock %}
                {% block cadastrarcategorias %}
                {% endblock %}
                {% block outros %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}