{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/modulo/css/custom.css"/>
{% endblock %}

{% block body %}
    <center style="margin-top: 25px;">
        <div id = "idContato" style="max-width: 500px;">

            <h1> Contato </h1>

            <div class="linha"></div>

            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Nome: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-nome" placeholder="Digite seu nome...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Sobrenome: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-sobrenome" placeholder="Digite seu sobrenome...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Email </label>
                    </div>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="in-email" placeholder="Digite seu email...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Telefone: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-telefone" placeholder="Digite seu telefone...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Cidade: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-cidade" placeholder="Digite sua cidade...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Estado: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-estado" placeholder="Digite seu estado...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Descrição: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-descricao" placeholder="Diga-nos tua dúvida/problema...">
                    </div>
                </div>

                <button type="submit" class="btn bt-preto" style="margin-top: 5px;"> Enviar </button>
            </form>
        </div> <!-- idContato -->
    </center>

{% endblock %}