{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/modulo/css/custom.css"/>
{% endblock %}

{% block body %}
    <center style="margin-top: 25px;">
        <div id = "id-cadastro" style="max-width: 500px;">

            <h1> Cadastro </h1>

            <div class="linha"></div>

            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Nome: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-nome" placeholder="Digite seu nome...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Sobrenome: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-sobrenome" placeholder="Digite seu sobrenome...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Apelido: </label>
                    </div>
                    <div class="col-md-5">
                        <!-- classe has-success, ela tem que ser adicionada junto a div abaixo quando o botão retornar que o
                                apelido pode ser usado, fará com que o input fique verde
                            classe has-warning , idem acima, única diferença é que o input fica vermelho quando o apelido
                                não pode ser utilizado -->
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" id="in-apelido" placeholder="Digite seu apelido..." aria-describedby="inputSuccess2Status">
                            <!-- o símbolo de sucesso só aparece se o apelido puder ser utilizado -->
                            <span id="sp-sucess" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" style="display: none;"></span>
                            <!-- o símbolo de warning só aparece se o apelido não puder ser utilizado -->
                            <span id="sp-warning" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" style="display: none;"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn bt-preto"> Verificar Apelido </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Email </label>
                    </div>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="in-email" placeholder="Digite seu email...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> RG: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-rg" placeholder="Digite seu RG...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> CPF: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-cpf" placeholder="Digite seu CPF...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Telefone: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-telefone" placeholder="Digite seu telefone...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Rua: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-rua" placeholder="Digite sua rua...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Bairro: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-bairro" placeholder="Digite seu bairro...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Cidade: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-cidade" placeholder="Digite sua cidade...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-3 control-label"> Estado: </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="in-estado" placeholder="Digite seu estado...">
                    </div>
                </div>

                <button type="submit" class="btn bt-preto" style="margin-top: 5px;"> Cadastrar </button>
            </form>
        </div> <!-- id-cadastro -->
    </center>

{% endblock %}