{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/modulo/css/custom.css"/>
{% endblock %}

{% block body %}
    <center style="margin-top: 25px;">
        <div id = "id-cadastro" style="max-width: 500px;">

            <h1> Cadastro </h1>

            <div class="linha"></div>

            <form class="form-horizontal">
                {% include 'cadastrar/formcadastro.html' %}

                <button type="submit" class="btn bt-preto" style="margin-top: 5px;"> Cadastrar </button>
            </form>
        </div> <!-- id-cadastro -->
    </center>

{% endblock %}