{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/modulo/css/custom.css"/>
    <style>
    /* Está sendo utilizando no { include 'cadastrar/formcadastro.html' } */
    .lb-rdgt{
        width: 100%; text-align: center !important; padding-right: 0px; padding-left: 0px;
    }
    </style>
{% endblock %}

{% block body %}
    <center style="margin-top: 25px;">
        <div id = "id-cadastro" style="max-width: 500px;">

            <h1> Cadastro </h1>

            <div class="linha"></div>

            <form class="form-horizontal">
                {% include 'cadastrar/formcadastro.html' %}

                <p style="margin: 15px 25px;">
                    O site <strong>NÃO</strong> se responsabiliza pelas transações, sejam elas de qualquer tipo. A responsabilidade pelas informações fornecidas neste cadastro e pelas transações feitas são de total responsabilidade das pessoas envolvidas.
                </p>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Eu aceito os termos descritos acima.
                    </label>
                </div>

                <button type="submit" class="btn bt-preto" style="margin-top: 15px;"> Cadastrar </button>
            </form>
        </div> <!-- id-cadastro -->
    </center>

{% endblock %}