{% extends 'base/base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/modulo/css/custom.css"/>
    <style>
        #div-menu-meuperfil{
            max-width: 230px;
        }
        #div-container-meuperfil{
            max-width: 760px;
        }
        .row{
            max-width: 1000px;
        }
        label{
            font-weight: 900;
        }
        .panel-primary { /* está sendo usado dentro dos includes da página */
            border-color: #ddd;
        }
    </style>
{% endblock %}

{% block tabs %}
    {{ select_tab('MEUPERFIL') }}
{% endblock %}

{% block body %}
    <center>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-3" id="div-menu-meuperfil" style="width: 100%;">
                    <div class="list-group" style="text-align: left; margin: 10px;">
                        <center>
                            <div class="media-middle">
                                <a href="#" class="list-group-item">
                                    <img data-src="holder.js/80%x150" alt="80%x150" src="/static/img/perfil/griffith.jpg"
                                         data-holder-rendered="true" style="width: 80%; height: 150px; display: block;">
                                </a>
                            </div>
                            <a href="#" class="list-group-item active"> Griffith </a>
                        </center>
                        <a href="/meuperfil/caixaesquerda/editarmeuperfil" class="list-group-item"> Editar meu Perfil </a>
                        <a href="/meuperfil/caixaesquerda/itens/itensmeusitens" class="list-group-item"> Meus Itens </a>
                        <a href="/meuperfil/caixaesquerda/minhastrocas" class="list-group-item"> Minhas Trocas </a>
                        <a href="/meuperfil/caixaesquerda/minhasdoacoes" class="list-group-item"> Minhas Doações </a>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-9" id="div-container-meuperfil" style="width: 100%;">
                    {% block editarmeuperfil %}{% endblock %}
                    {% block meusitens %}{% endblock %}
                    {% block minhastrocas %}{% endblock %}
                    {% block minhasdoacoes %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    </center>
{% endblock %}
