/* xs (phones), sm (tablets), md (desktops), and lg (larger desktops) */

/* colocando mais css ao já existente do bootstrap*/
.row{
    margin-right: 0px;
    margin-left: 0px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    padding: 10px 5px;
}

.form-group{
    width: 100%;
    margin-bottom: 0px;
}

/* colocando mais css ao já existente nas tags */
p{
    margin-top: 5px;
}

/* ids criados */

#buscar-por{
    max-width: 700px;
}

/* classes criadas */

.linha{
    width: 100%;
    margin: 15px 0px;
    border: 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: #ddd;
}

.bt-preto{ /* botão Preto */
    color: #fff;
    background-color: #000000;
    border: 1px solid;
    border-color: #ddd;
}
.bt-preto:hover{ /* quando btPreto for selecionado */
    color: #fff;
    background-color: #9A9A9A;
}
.bt-preto:focus{ /* quando btPreto estiver em foco */
    color: #fff;
    background-color: #9A9A9A;
}

.tam-img {
    width: 170px; height: 170px;
}

/* Large desktop * /
@media (min-width: 1201px) {

}

@media (min-width: 980px) and (max-width: 1200px) {

}

/* Portrait tablet to landscape and desktop * /
@media (min-width: 768px) and (max-width: 979px) {
    .col-md-9{
        max-width: 720px;
    }
}

/* Landscape phone to portrait tablet * /
@media (min-width: 481px) and (max-width: 767px) {
    .col-md-9{
        max-width: 600px;
    }
}

/* Landscape phones and down * /
@media (max-width: 480px) {

}
*/