{% extends 'meuperfil/caixaesquerda/meusitens.html' %}

{% block js %}
    <!-- JQuery -->
    <!--script type="application/javascript" src="/static/modulo/js/meuperfil/caixaesquerda/itens/itensmeusitens.js"></script-->
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/modulo/js/meuperfil/caixaesquerda/itens/itensmeusitens_ng.js"></script>
    <!-- import de teste -->
    <!--script type="text/javascript" src="/static/modulo/js/meuperfil/caixaesquerda/itens/item_api_mock.js"></script-->
    <script type="text/javascript">
        var rest = angular.module('rest',[]);

        rest.factory('ItemApi',function($http){
            return {
                salvar: function(item){
                    return $http.post('{{ path_salvar }}',item);
                },
                listar: function(data){
                    return $http.post('{{ path_listar }}');
                }
            };
        });

        //itensMeusItensApp é o ng-app, o nó principal, onde o angular entende
        //itemModulo é um módulo criado para a utilização do <cadastraritemform></cadastraritemform>
        var itensMeusItensApp = angular.module('itensMeusItensApp',['itemModulo','rest']);

        function itemCtrl($scope, ItemApi){
            /*valores default do formulário cadastrar item*/
            $scope.item = { 'titulo':'', 'id_categoria':'4863277368606720', 'descricao':'' };

            $scope.mostrarFormFlag = false;
            //$scope.itemLista = [{'id':'01', 'titulo':'hueb', 'id_categoria':'4863277368606720', 'descricao':'hue' }];
            //$scope.itemLista = {# {{ itens|safe }};  #}
            $scope.itemLista = [];

            $scope.listandoFlag = true;

            ItemApi.listar().success(function(itens){
                $scope.itemLista = itens;
                $scope.listandoFlag = false;
            });

            $scope.mostrarOuEsconderFormCadastrarItem = function(){
                $scope.mostrarFormFlag = !$scope.mostrarFormFlag;
            };

            $scope.adicionarItem = function(item){
                $scope.itemLista.unshift(item);
            };

        }
    </script>
{% endblock %}

{% block itensmeusitens %}
<style>
    /*sendo usado em <mostraritens></mostraritens> */
    .form-group{
        margin-bottom: 15px;
    }
</style>
<div id="id_main_ng_js" ng-app="itensMeusItensApp" ng-controller="itemCtrl">

    <button class="btn bt-preto" ng-click="mostrarOuEsconderFormCadastrarItem()"> >>> Novo Item </button>

    <cadastraritemform ng-show="mostrarFormFlag" item-interno="item" titulo-label="Título"
                       categoria-label="Categoria:" descricao-label="Descrição"
                       save-complete="adicionarItem(item)">
    </cadastraritemform>

    <!--div id="div-cadastraritens" class="container" style="max-width: 500px; text-align: center;">
        <h1> Cadastrar item </h1>
        <div id='add-sucesso-div' class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong> Item adicionado com sucesso </strong>
        </div>
        <div class="row">
            {#
            {{ csrf_input() }}
            {{ form_input( 'Título', 'titulo', items.titulo, erros.titulo ) }}
            <div class="col-sm-4 col-md-4" style="width: 100%;">
                <center><label class="col-sm-3 control-label" style="width: 100%;"> Categoria: </label></center>
            </div>
            <select id='id_categoria' name="id_categoria" class="form-control" style="margin-bottom: 10px;">
            {% for cat in categorias %}
                <option value="{{ cat.key.id() }}">{{ cat.categoria }}</option>
            {% endfor %}
            </select>
            {{ form_input( 'Descrição', 'descricao', items.descricao, erros.descricao ) }}
            <div class="row">
                <button id='adicionar-btn' class="btn bt-preto" style="margin-top: 10px;"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Adicionar </button>
                <img id="ajax-gif-img" src="/static/img/ajax.gif" style="display: none; margin-left: 20px;"/>
            </div>
             #}
        </div>
    </div-->

    <div class="linha"></div>

    <div id="div-itensmeusitens">
        <div id=div-buscaritens">
            <div class="row">
                <div class="col-md-4">
                    <p> Buscar por categoria: </p>
                </div>
                <div class="col-md-5">
                    <select id="id_cat_buscar" name="id_cat_buscar" class="form-control" style="margin-bottom: 10px;">
                        {% for cat in categorias %}
                            {% if categoria_selecionada == cat.key.id()|string %}
                                <option value="{{ cat.key.id() }}" selected>{{ cat.categoria }}</option>
                            {% else %}
                                <option value="{{ cat.key.id() }}">{{ cat.categoria }}</option>
                            {% endif %}
                        {% endfor %}
                        {% if categoria_selecionada == 'all' %}
                            <option value="all" selected> Tudo </option>
                        {% else %}
                            <option value="all"> Tudo </option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn bt-preto" onclick="listarItens();"> Buscar </button>
                    <img id="buscar-ajax-gif-img" src="/static/img/ajax.gif" style="display: none; margin-left: 20px;"/>
                </div>
            </div>
        </div>

        <div class="linha"></div>

        <div id=div-mostraritens">
            <div>
                <div id='exc-sucesso-div' class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong> Item excluído com sucesso </strong>
                </div>
                <div id="nenhum-item" style="display: none;">
                    <h2> Não foi encontrado nenhum registro! </h2>
                    <h2> Tente novamente. </h2>
                </div>
                <div id="ocorreu-problema" style="display: none;">
                    <h2> Ops! Ocorreu algum problema. </h2>
                    <h2> Tente novamente mais tarde. </h2>
                </div>
            </div>

            <div id="row-main" class="row">

                <!--mostraritens ng-repeat="i in itemLista" item-interno="i"></mostraritens-->
                <div mostraritens ng-repeat="i in itemLista" item-interno="i"></div>

            </div>

            <img id="ajax-gif-img-mostraritens" ng-show="listandoFlag" src="/static/img/ajax.gif" style="margin-left: 20px;">

        </div>

    </div>
</div>
{% endblock %}