{% extends 'meuperfil/caixaesquerda/meusitens.html' %}

{% block js %}
    <!-- JQuery -->
    <!--script type="application/javascript" src="/static/modulo/js/meuperfil/caixaesquerda/itens/itensmeusitens.js"></script-->
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/modulo/js/meuperfil/caixaesquerda/itens/itensmeusitens_ng.js"></script>
    <!-- import de teste -->
    <!--script type="text/javascript" src="/static/modulo/js/meuperfil/caixaesquerda/itens/item_api_mock.js"></script-->
    <script type="text/javascript">
        var rest = angular.module('rest',[]);

        rest.factory('ItemApi',function($http){
            return {
                salvar: function(item){
                    return $http.post('{{ path_salvar }}',item);
                },
                listar: function(data){
                    return $http.post('{{ path_listar }}');
                },
                excluir: function(id_ex){
                    return $http.post('{{ path_excluir }}',{id:id_ex});
                },
                editar: function(item){
                    return $http.post('{{ path_editar }}',
                            {
                                id:item.id,
                                titulo:item.titulo,
                                descricao:item.descricao,
                                id_categoria:item.id_categoria
                            }
                    );
                }
            };
        });

        //itensMeusItensApp é o ng-app, o nó principal, onde o angular entende
        //itemModulo é um módulo criado para a utilização do <cadastraritemform></cadastraritemform>
        var itensMeusItensApp = angular.module('itensMeusItensApp',['itemModulo','rest']);

        function itemCtrl($scope, ItemApi){
            /*valores default do formulário cadastrar item*/
            $scope.item = { 'titulo':'', 'id_categoria':'4863277368606720', 'descricao':'' };

            $scope.mostrarFormFlag = false;
            //$scope.itemLista = [{'id':'01', 'titulo':'hueb', 'id_categoria':'4863277368606720', 'descricao':'hue' }];
            //$scope.itemLista = {# {{ itens|safe }};  #}
            $scope.itemLista = [];

            $scope.listandoFlag = true;

            ItemApi.listar().success(function(itens){
                $scope.itemLista = itens;
                $scope.listandoFlag = false;
            });

            $scope.mostrarOuEsconderFormCadastrarItem = function(){
                $scope.mostrarFormFlag = !$scope.mostrarFormFlag;
            };

            $scope.adicionarItem = function(item){
                $scope.itemLista.unshift(item);
            };

            $scope.removerItem = function(item){
                var itemLista = $scope.itemLista;
                for(var i=0;i<itemLista.length;i++){
                    if(item.id == itemLista[i].id){
                        itemLista.splice(i,1);
                        break;
                    }
                }
            };
        }
    </script>
{% endblock %}

{% block itensmeusitens %}
<style>
    /*sendo usado em <mostraritens></mostraritens> */
    .form-group{
        margin-bottom: 15px;
    }
</style>
<div id="id_main_ng_js" ng-app="itensMeusItensApp" ng-controller="itemCtrl">

    <button class="btn bt-preto" ng-click="mostrarOuEsconderFormCadastrarItem()"> >>> Novo Item </button>

    <cadastraritemform ng-show="mostrarFormFlag" item-interno="item" titulo-label="Título"
                       categoria-label="Categoria:" descricao-label="Descrição"
                       save-complete="adicionarItem(item)">
    </cadastraritemform>

    <!--div id="div-cadastraritens" class="container" style="max-width: 500px; text-align: center;">
        <h1> Cadastrar item </h1>
        <div id='add-sucesso-div' class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong> Item adicionado com sucesso </strong>
        </div>
        <div class="row">
            {#
            {{ csrf_input() }}
            {{ form_input( 'Título', 'titulo', items.titulo, erros.titulo ) }}
            <div class="col-sm-4 col-md-4" style="width: 100%;">
                <center><label class="col-sm-3 control-label" style="width: 100%;"> Categoria: </label></center>
            </div>
            <select id='id_categoria' name="id_categoria" class="form-control" style="margin-bottom: 10px;">
            {% for cat in categorias %}
                <option value="{{ cat.key.id() }}">{{ cat.categoria }}</option>
            {% endfor %}
            </select>
            {{ form_input( 'Descrição', 'descricao', items.descricao, erros.descricao ) }}
            <div class="row">
                <button id='adicionar-btn' class="btn bt-preto" style="margin-top: 10px;"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Adicionar </button>
                <img id="ajax-gif-img" src="/static/img/ajax.gif" style="display: none; margin-left: 20px;"/>
            </div>
             #}
        </div>
    </div-->

    <div class="linha"></div>

    <div id="div-itensmeusitens">

        <div id=div-mostraritens">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th/>
                        <th> Titulo </th>
                        <th> Descricao </th>
                        <th> Categoria </th>
                        <th> Id </th>
                    </tr>
                </thead>
                <tbody>
                    <tr mostraritens ng-repeat="i in itemLista" item-interno="i" excluir-complete="removerItem(item)"></tr>
                </tbody>
            </table>

            <img id="ajax-gif-img-mostraritens" ng-show="listandoFlag" src="/static/img/ajax.gif" style="margin-left: 20px;">

        </div>

    </div>
</div>
{% endblock %}